h1{
font-size: 30px;
text-align: center;
color: #f72a82
}

h2{
font-size: 25px;
text-align: right;
font-family: Helvetica, sans-serif;
color: #f72a82;
}

p{
font-size: 20px;
text-align: right;
font-family: Helvetica, sans-serif;
color: #f72a82;
}

a{font-size: 20px;
text-align: right;
font-family: Helvetica, sans-serif;
color: #f72a82;
}

body {
background-color: black;
}

img {
  display: block;
  margin: auto;
}